**Fase 1: Business/Data Understanding**

In [102]:
import pandas as pd
airlines = pd.read_csv('airlines.csv')
airports = pd.read_csv('airports.csv')
flights = pd.read_csv('flights_dataset.csv')
flights.head()

C:\Users\Paulien Luhulima\AppData\Local\Temp\ipykernel_7580\3657314167.py:4: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  flights = pd.read_csv('flights_dataset.csv')

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,1448,404.0,4.0,430,408.0,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,2330,737.0,4.0,750,741.0,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,2296,800.0,11.0,806,811.0,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,2342,748.0,8.0,805,756.0,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,1448,254.0,5.0,320,259.0,NaN,NaN,NaN,NaN,NaN

In [103]:
flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5729195 entries, 0 to 5729194
Data columns (total 27 columns):
 #   Column               Dtype
---  ------               -----
 0   YEAR                 int64
 1   MONTH                int64
 2   DAY                  int64
 3   DAY_OF_WEEK          int64
 4   AIRLINE              object
 5   FLIGHT_NUMBER        int64
 6   TAIL_NUMBER          object
 7   ORIGIN_AIRPORT       object
 8   DESTINATION_AIRPORT  object
 9   SCHEDULED_DEPARTURE  int64
 10  DEPARTURE_TIME       float64
 11  DEPARTURE_DELAY      float64
 12  TAXI_OUT             float64
 13  WHEELS_OFF           float64
 14  SCHEDULED_TIME       float64
 15  ELAPSED_TIME         float64
 16  AIR_TIME             float64
 17  DISTANCE             int64
 18  WHEELS_ON            float64
 19  TAXI_IN              float64
 20  SCHEDULED_ARRIVAL    int64
 21  ARRIVAL_TIME         float64
 22  AIR_SYSTEM_DELAY     float64
 23  SECURITY_DELAY       float64
 24  AIRLINE_DELAY        float64
 25  LATE_AIRCRAFT_DELAY  float64
 26  WEATHER_DELAY        float64
dtypes: float64(15), int64(8), object(4)
memory usage: 1.2+ GB

In [104]:
flights.nunique()

YEAR                      1
MONTH                    12
DAY                      31
DAY_OF_WEEK               7
AIRLINE                  14
FLIGHT_NUMBER          6947
TAIL_NUMBER            4896
ORIGIN_AIRPORT          932
DESTINATION_AIRPORT     933
SCHEDULED_DEPARTURE    1320
DEPARTURE_TIME         1440
DEPARTURE_DELAY        1215
TAXI_OUT                184
WHEELS_OFF             1440
SCHEDULED_TIME          549
ELAPSED_TIME            712
AIR_TIME                675
DISTANCE               1361
WHEELS_ON              1440
TAXI_IN                 185
SCHEDULED_ARRIVAL      1435
ARRIVAL_TIME           1440
AIR_SYSTEM_DELAY        570
SECURITY_DELAY          154
AIRLINE_DELAY          1067
LATE_AIRCRAFT_DELAY     695
WEATHER_DELAY           632
dtype: int64

In [105]:
airports.head()

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447

In [106]:
airlines.head(14)

   IATA_CODE                       AIRLINE
0         UA         United Air Lines Inc.
1         AA        American Airlines Inc.
2         US               US Airways Inc.
3         F9        Frontier Airlines Inc.
4         B6               JetBlue Airways
5         OO         Skywest Airlines Inc.
6         AS          Alaska Airlines Inc.
7         NK              Spirit Air Lines
8         WN        Southwest Airlines Co.
9         DL          Delta Air Lines Inc.
10        EV   Atlantic Southeast Airlines
11        HA        Hawaiian Airlines Inc.
12        MQ  American Eagle Airlines Inc.
13        VX                Virgin America

In [107]:
airports.nunique()

IATA_CODE    322
AIRPORT      322
CITY         308
STATE         54
COUNTRY        1
LATITUDE     319
LONGITUDE    319
dtype: int64

In [108]:
airlines.nunique()

IATA_CODE    14
AIRLINE      14
dtype: int64

In [109]:
airlines.columns = airlines.columns.str.replace('IATA_CODE', 'AIRLINE_CODE')
flights.columns = flights.columns.str.replace('AIRLINE', 'AIRLINE_CODE')
airlines.head()

  AIRLINE_CODE                 AIRLINE
0           UA   United Air Lines Inc.
1           AA  American Airlines Inc.
2           US         US Airways Inc.
3           F9  Frontier Airlines Inc.
4           B6         JetBlue Airways

In [110]:
flights_airlines_merge = pd.merge(flights, airlines, how='outer', on='AIRLINE_CODE')
flights_airlines_merge.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE_CODE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_CODE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY,AIRLINE
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,404.0,4.0,430,408.0,NaN,NaN,NaN,NaN,NaN,Alaska Airlines Inc.
1,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,254.0,5.0,320,259.0,NaN,NaN,NaN,NaN,NaN,Alaska Airlines Inc.
2,2015,1,1,4,AS,108,N309AS,ANC,SEA,45,...,451.0,4.0,509,455.0,NaN,NaN,NaN,NaN,NaN,Alaska Airlines Inc.
3,2015,1,1,4,AS,122,N413AS,ANC,PDX,50,...,504.0,3.0,525,507.0,NaN,NaN,NaN,NaN,NaN,Alaska Airlines Inc.
4,2015,1,1,4,AS,130,N457AS,FAI,SEA,115,...,538.0,7.0,548,545.0,NaN,NaN,NaN,NaN,NaN,Alaska Airlines Inc.

In [111]:
origin_airport = pd.read_csv('airports.csv')
destination_airport = pd.read_csv('airports.csv')
origin_airport.set_axis(["ORIGIN_AIRPORT", "ORIGIN_AIRPORT_NAME", "ORIGIN_AIRPORT_CITY", "ORIGIN_AIRPORT_STATE", "ORIGIN_AIRPORT_COUNTRY", "ORIGIN_AIRPORT_LATITUDE", "ORIGIN_AIRPORT_LONGITUDE"], axis="columns", inplace=True)
destination_airport.set_axis(['DESTINATION_AIRPORT', 'DESTINATION_AIRPORT_NAME', 'DESTINATION_AIRPORT_CITY', 'DESTINATION_AIRPORT_STATE', 'DESTINATION_AIRPORT_COUNTRY', 'DESTINATION_AIRPORT_LATITUDE', 'DESTINATION_AIRPORT_LONGITUDE'], axis='columns', inplace=True)

C:\Users\Paulien Luhulima\AppData\Local\Temp\ipykernel_7580\2038410647.py:3: FutureWarning: DataFrame.set_axis 'inplace' keyword is deprecated and will be removed in a future version. Use `obj = obj.set_axis(..., copy=False)` instead
  origin_airport.set_axis(["ORIGIN_AIRPORT", "ORIGIN_AIRPORT_NAME", "ORIGIN_AIRPORT_CITY", "ORIGIN_AIRPORT_STATE", "ORIGIN_AIRPORT_COUNTRY", "ORIGIN_AIRPORT_LATITUDE", "ORIGIN_AIRPORT_LONGITUDE"], axis="columns", inplace=True)
C:\Users\Paulien Luhulima\AppData\Local\Temp\ipykernel_7580\2038410647.py:4: FutureWarning: DataFrame.set_axis 'inplace' keyword is deprecated and will be removed in a future version. Use `obj = obj.set_axis(..., copy=False)` instead
  destination_airport.set_axis(['DESTINATION_AIRPORT', 'DESTINATION_AIRPORT_NAME', 'DESTINATION_AIRPORT_CITY', 'DESTINATION_AIRPORT_STATE', 'DESTINATION_AIRPORT_COUNTRY', 'DESTINATION_AIRPORT_LATITUDE', 'DESTINATION_AIRPORT_LONGITUDE'], axis='columns', inplace=True)

In [112]:
origin_airport.head()

,ORIGIN_AIRPORT,ORIGIN_AIRPORT_NAME,ORIGIN_AIRPORT_CITY,ORIGIN_AIRPORT_STATE,ORIGIN_AIRPORT_COUNTRY,ORIGIN_AIRPORT_LATITUDE,ORIGIN_AIRPORT_LONGITUDE
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447

In [113]:
destination_airport.head()

,DESTINATION_AIRPORT,DESTINATION_AIRPORT_NAME,DESTINATION_AIRPORT_CITY,DESTINATION_AIRPORT_STATE,DESTINATION_AIRPORT_COUNTRY,DESTINATION_AIRPORT_LATITUDE,DESTINATION_AIRPORT_LONGITUDE
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447

In [114]:
airport_origin_merge = pd.merge(flights_airlines_merge, origin_airport, how='outer', on='ORIGIN_AIRPORT')
airport_destination_merge = pd.merge(airport_origin_merge, destination_airport, how='outer', on='DESTINATION_AIRPORT')
airport_destination_merge.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE_CODE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ORIGIN_AIRPORT_STATE,ORIGIN_AIRPORT_COUNTRY,ORIGIN_AIRPORT_LATITUDE,ORIGIN_AIRPORT_LONGITUDE,DESTINATION_AIRPORT_NAME,DESTINATION_AIRPORT_CITY,DESTINATION_AIRPORT_STATE,DESTINATION_AIRPORT_COUNTRY,DESTINATION_AIRPORT_LATITUDE,DESTINATION_AIRPORT_LONGITUDE
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,AK,USA,61.17432,-149.99619,Seattle-Tacoma International Airport,Seattle,WA,USA,47.44898,-122.30931
1,2015,1,1,4,AS,108,N309AS,ANC,SEA,45,...,AK,USA,61.17432,-149.99619,Seattle-Tacoma International Airport,Seattle,WA,USA,47.44898,-122.30931
2,2015,1,1,4,AS,134,N464AS,ANC,SEA,155,...,AK,USA,61.17432,-149.99619,Seattle-Tacoma International Airport,Seattle,WA,USA,47.44898,-122.30931
3,2015,1,1,4,AS,114,N303AS,ANC,SEA,220,...,AK,USA,61.17432,-149.99619,Seattle-Tacoma International Airport,Seattle,WA,USA,47.44898,-122.30931
4,2015,1,1,4,AS,730,N423AS,ANC,SEA,505,...,AK,USA,61.17432,-149.99619,Seattle-Tacoma International Airport,Seattle,WA,USA,47.44898,-122.30931

In [115]:
airport_destination_merge.nunique()

YEAR                                1
MONTH                              12
DAY                                31
DAY_OF_WEEK                         7
AIRLINE_CODE                       14
FLIGHT_NUMBER                    6947
TAIL_NUMBER                      4896
ORIGIN_AIRPORT                    932
DESTINATION_AIRPORT               933
SCHEDULED_DEPARTURE              1320
DEPARTURE_TIME                   1440
DEPARTURE_DELAY                  1215
TAXI_OUT                          184
WHEELS_OFF                       1440
SCHEDULED_TIME                    549
ELAPSED_TIME                      712
AIR_TIME                          675
DISTANCE                         1361
WHEELS_ON                        1440
TAXI_IN                           185
SCHEDULED_ARRIVAL                1435
ARRIVAL_TIME                     1440
AIR_SYSTEM_DELAY                  570
SECURITY_DELAY                    154
AIRLINE_CODE_DELAY               1067
LATE_AIRCRAFT_DELAY               695
WEATHER_DELAY                     632
AIRLINE                            14
ORIGIN_AIRPORT_NAME               322
ORIGIN_AIRPORT_CITY               308
ORIGIN_AIRPORT_STATE               54
ORIGIN_AIRPORT_COUNTRY              1
ORIGIN_AIRPORT_LATITUDE           319
ORIGIN_AIRPORT_LONGITUDE          319
DESTINATION_AIRPORT_NAME          322
DESTINATION_AIRPORT_CITY          308
DESTINATION_AIRPORT_STATE          54
DESTINATION_AIRPORT_COUNTRY         1
DESTINATION_AIRPORT_LATITUDE      319
DESTINATION_AIRPORT_LONGITUDE     319
dtype: int64

In [116]:
nan_count = airport_destination_merge.isna().sum()
nan_count

YEAR                                   0
MONTH                                  0
DAY                                    0
DAY_OF_WEEK                            0
AIRLINE_CODE                           0
FLIGHT_NUMBER                          0
TAIL_NUMBER                            0
ORIGIN_AIRPORT                         0
DESTINATION_AIRPORT                    0
SCHEDULED_DEPARTURE                    0
DEPARTURE_TIME                         0
DEPARTURE_DELAY                        0
TAXI_OUT                               0
WHEELS_OFF                             0
SCHEDULED_TIME                         1
ELAPSED_TIME                       15187
AIR_TIME                           15187
DISTANCE                               0
WHEELS_ON                           2629
TAXI_IN                             2629
SCHEDULED_ARRIVAL                      0
ARRIVAL_TIME                        2629
AIR_SYSTEM_DELAY                 4665756
SECURITY_DELAY                   4665756
AIRLINE_CODE_DELAY               4665756
LATE_AIRCRAFT_DELAY              4665756
WEATHER_DELAY                    4665756
AIRLINE                                0
ORIGIN_AIRPORT_NAME               483711
ORIGIN_AIRPORT_CITY               483711
ORIGIN_AIRPORT_STATE              483711
ORIGIN_AIRPORT_COUNTRY            483711
ORIGIN_AIRPORT_LATITUDE           488283
ORIGIN_AIRPORT_LONGITUDE          488283
DESTINATION_AIRPORT_NAME          483711
DESTINATION_AIRPORT_CITY          483711
DESTINATION_AIRPORT_STATE         483711
DESTINATION_AIRPORT_COUNTRY       483711
DESTINATION_AIRPORT_LATITUDE      488295
DESTINATION_AIRPORT_LONGITUDE     488295
dtype: int64

In [117]:
airport_destination_merge.tail()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE_CODE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ORIGIN_AIRPORT_STATE,ORIGIN_AIRPORT_COUNTRY,ORIGIN_AIRPORT_LATITUDE,ORIGIN_AIRPORT_LONGITUDE,DESTINATION_AIRPORT_NAME,DESTINATION_AIRPORT_CITY,DESTINATION_AIRPORT_STATE,DESTINATION_AIRPORT_COUNTRY,DESTINATION_AIRPORT_LATITUDE,DESTINATION_AIRPORT_LONGITUDE
5729190,2015,10,20,2,F9,927,N938FR,15356,15497,1709,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5729191,2015,10,22,4,F9,927,N902FR,15356,15497,1709,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5729192,2015,10,26,1,F9,927,N927FR,15356,15497,715,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5729193,2015,10,28,3,F9,927,N927FR,15356,15497,715,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5729194,2015,10,30,5,F9,927,N939FR,15356,15497,715,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [118]:
columns_drop = ['ORIGIN_AIRPORT_COUNTRY', 'ORIGIN_AIRPORT_LATITUDE','ORIGIN_AIRPORT_LONGITUDE', 'DESTINATION_AIRPORT_COUNTRY', 'DESTINATION_AIRPORT_LATITUDE', 'DESTINATION_AIRPORT_LONGITUDE', 'TAXI_OUT', 'WHEELS_OFF', 'DISTANCE', 'WHEELS_ON', 'TAXI_IN', 'AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_CODE_DELAY', 'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY']
airport_drop = airport_destination_merge.drop(columns=columns_drop, axis = 1)
airport_drop.head(20)

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE_CODE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,AIR_TIME,SCHEDULED_ARRIVAL,ARRIVAL_TIME,AIRLINE,ORIGIN_AIRPORT_NAME,ORIGIN_AIRPORT_CITY,ORIGIN_AIRPORT_STATE,DESTINATION_AIRPORT_NAME,DESTINATION_AIRPORT_CITY,DESTINATION_AIRPORT_STATE
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,169.0,430,408.0,Alaska Airlines Inc.,Ted Stevens Anchorage International Airport,Anchorage,AK,Seattle-Tacoma International Airport,Seattle,WA
1,2015,1,1,4,AS,108,N309AS,ANC,SEA,45,...,173.0,509,455.0,Alaska Airlines Inc.,Ted Stevens Anchorage International Airport,Anchorage,AK,Seattle-Tacoma International Airport,Seattle,WA
2,2015,1,1,4,AS,134,N464AS,ANC,SEA,155,...,170.0,633,558.0,Alaska Airlines Inc.,Ted Stevens Anchorage International Airport,Anchorage,AK,Seattle-Tacoma International Airport,Seattle,WA
3,2015,1,1,4,AS,114,N303AS,ANC,SEA,220,...,176.0,640,628.0,Alaska Airlines Inc.,Ted Stevens Anchorage International Airport,Anchorage,AK,Seattle-Tacoma International Airport,Seattle,WA
4,2015,1,1,4,AS,730,N423AS,ANC,SEA,505,...,179.0,930,916.0,Alaska Airlines Inc.,Ted Stevens Anchorage International Airport,Anchorage,AK,Seattle-Tacoma International Airport,Seattle,WA
5,2015,1,1,4,AS,112,N527AS,ANC,SEA,700,...,179.0,1130,1115.0,Alaska Airlines Inc.,Ted Stevens Anchorage International Airport,Anchorage,AK,Seattle-Tacoma International Airport,Seattle,WA
6,2015,1,1,4,AS,80,N431AS,ANC,SEA,1035,...,180.0,1502,1453.0,Alaska Airlines Inc.,Ted Stevens Anchorage International Airport,Anchorage,AK,Seattle-Tacoma International Airport,Seattle,WA
7,2015,1,1,4,AS,120,N528AS,ANC,SEA,1340,...,171.0,1755,1745.0,Alaska Airlines Inc.,Ted Stevens Anchorage International Airport,Anchorage,AK,Seattle-Tacoma International Airport,Seattle,WA
8,2015,1,1,4,AS,92,N592AS,ANC,SEA,1430,...,175.0,1850,1833.0,Alaska Airlines Inc.,Ted Stevens Anchorage International Airport,Anchorage,AK,Seattle-Tacoma International Airport,Seattle,WA
9,2015,1,1,4,AS,84,N508AS,ANC,SEA,1615,...,173.0,2035,2011.0,Alaska Airlines Inc.,Ted Stevens Anchorage International Airport,Anchorage,AK,Seattle-Tacoma International Airport,Seattle,WA
10,2015,1,1,4,AS,82,N440AS,ANC,SEA,1750,...,170.0,2207,2140.0,Alaska Airlines Inc.,Ted Stevens Anchorage International Airport,Anchorage,AK,Seattle-Tacoma International Airport,Seattle,WA
11,2015,1,1,4,AS,102,N619AS,ANC,SEA,1910,...,170.0,2333,2310.0,Alaska Airlines Inc.,Ted Stevens Anchorage International Airport,Anchorage,AK,Seattle-Tacoma International Airport,Seattle,WA
12,2015,1,1,4,AS,106,N768AS,ANC,SEA,2140,...,173.0,201,130.0,Alaska Airlines Inc.,Ted Stevens Anchorage International Airport,Anchorage,AK,Seattle-Tacoma International Airport,Seattle,WA
13,2015,1,2,5,AS,98,N764AS,ANC,SEA,5,...,168.0,430,403.0,Alaska Airlines Inc.,Ted Stevens Anchorage International Airport,Anchorage,AK,Seattle-Tacoma International Airport,Seattle,WA
14,2015,1,2,5,AS,108,N577AS,ANC,SEA,45,...,166.0,509,454.0,Alaska Airlines Inc.,Ted Stevens Anchorage International Airport,Anchorage,AK,Seattle-Tacoma International Airport,Seattle,WA
15,2015,1,2,5,AS,136,N323AS,ANC,SEA,135,...,161.0,600,528.0,Alaska Airlines Inc.,Ted Stevens Anchorage International Airport,Anchorage,AK,Seattle-Tacoma International Airport,Seattle,WA
16,2015,1,2,5,AS,134,N423AS,ANC,SEA,155,...,164.0,633,600.0,Alaska Airlines Inc.,Ted Stevens Anchorage International Airport,Anchorage,AK,Seattle-Tacoma International Airport,Seattle,WA
17,2015,1,2,5,AS,114,N467AS,ANC,SEA,220,...,165.0,640,623.0,Alaska Airlines Inc.,Ted Stevens Anchorage International Airport,Anchorage,AK,Seattle-Tacoma International Airport,Seattle,WA
18,2015,1,2,5,AS,730,N459AS,ANC,SEA,505,...,162.0,930,906.0,Alaska Airlines Inc.,Ted Stevens Anchorage International Airport,Anchorage,AK,Seattle-Tacoma International Airport,Seattle,WA
19,2015,1,2,5,AS,112,N464AS,ANC,SEA,700,...,162.0,1130,1101.0,Alaska Airlines Inc.,Ted Stevens Anchorage International Airport,Anchorage,AK,Seattle-Tacoma International Airport,Seattle,WA

In [119]:
airport_drop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5729195 entries, 0 to 5729194
Data columns (total 24 columns):
 #   Column                     Dtype
---  ------                     -----
 0   YEAR                       int64
 1   MONTH                      int64
 2   DAY                        int64
 3   DAY_OF_WEEK                int64
 4   AIRLINE_CODE               object
 5   FLIGHT_NUMBER              int64
 6   TAIL_NUMBER                object
 7   ORIGIN_AIRPORT             object
 8   DESTINATION_AIRPORT        object
 9   SCHEDULED_DEPARTURE        int64
 10  DEPARTURE_TIME             float64
 11  DEPARTURE_DELAY            float64
 12  SCHEDULED_TIME             float64
 13  ELAPSED_TIME               float64
 14  AIR_TIME                   float64
 15  SCHEDULED_ARRIVAL          int64
 16  ARRIVAL_TIME               float64
 17  AIRLINE                    object
 18  ORIGIN_AIRPORT_NAME        object
 19  ORIGIN_AIRPORT_CITY        object
 20  ORIGIN_AIRPORT_STATE       object
 21  DESTINATION_AIRPORT_NAME   object
 22  DESTINATION_AIRPORT_CITY   object
 23  DESTINATION_AIRPORT_STATE  object
dtypes: float64(6), int64(7), object(11)
memory usage: 1.1+ GB

In [120]:
dag_mapping = {1:'Monday', 2:'Tuesday', 3:'Wednesday', 4:'Thursday', 5:'Friday', 6:'Saturday', 7:'Sunday'}
airport_drop['DAY_OF_WEEK'] = airport_drop['DAY_OF_WEEK'].replace(dag_mapping)
airport_drop.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE_CODE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,AIR_TIME,SCHEDULED_ARRIVAL,ARRIVAL_TIME,AIRLINE,ORIGIN_AIRPORT_NAME,ORIGIN_AIRPORT_CITY,ORIGIN_AIRPORT_STATE,DESTINATION_AIRPORT_NAME,DESTINATION_AIRPORT_CITY,DESTINATION_AIRPORT_STATE
0,2015,1,1,Thursday,AS,98,N407AS,ANC,SEA,5,...,169.0,430,408.0,Alaska Airlines Inc.,Ted Stevens Anchorage International Airport,Anchorage,AK,Seattle-Tacoma International Airport,Seattle,WA
1,2015,1,1,Thursday,AS,108,N309AS,ANC,SEA,45,...,173.0,509,455.0,Alaska Airlines Inc.,Ted Stevens Anchorage International Airport,Anchorage,AK,Seattle-Tacoma International Airport,Seattle,WA
2,2015,1,1,Thursday,AS,134,N464AS,ANC,SEA,155,...,170.0,633,558.0,Alaska Airlines Inc.,Ted Stevens Anchorage International Airport,Anchorage,AK,Seattle-Tacoma International Airport,Seattle,WA
3,2015,1,1,Thursday,AS,114,N303AS,ANC,SEA,220,...,176.0,640,628.0,Alaska Airlines Inc.,Ted Stevens Anchorage International Airport,Anchorage,AK,Seattle-Tacoma International Airport,Seattle,WA
4,2015,1,1,Thursday,AS,730,N423AS,ANC,SEA,505,...,179.0,930,916.0,Alaska Airlines Inc.,Ted Stevens Anchorage International Airport,Anchorage,AK,Seattle-Tacoma International Airport,Seattle,WA

In [121]:
airport_drop['DATE'] = airport_drop[['MONTH', 'DAY', 'YEAR']].astype(str).apply(lambda row: '-'.join(row), axis=1)
airport_drop.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE_CODE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,SCHEDULED_ARRIVAL,ARRIVAL_TIME,AIRLINE,ORIGIN_AIRPORT_NAME,ORIGIN_AIRPORT_CITY,ORIGIN_AIRPORT_STATE,DESTINATION_AIRPORT_NAME,DESTINATION_AIRPORT_CITY,DESTINATION_AIRPORT_STATE,DATE
0,2015,1,1,Thursday,AS,98,N407AS,ANC,SEA,5,...,430,408.0,Alaska Airlines Inc.,Ted Stevens Anchorage International Airport,Anchorage,AK,Seattle-Tacoma International Airport,Seattle,WA,1-1-2015
1,2015,1,1,Thursday,AS,108,N309AS,ANC,SEA,45,...,509,455.0,Alaska Airlines Inc.,Ted Stevens Anchorage International Airport,Anchorage,AK,Seattle-Tacoma International Airport,Seattle,WA,1-1-2015
2,2015,1,1,Thursday,AS,134,N464AS,ANC,SEA,155,...,633,558.0,Alaska Airlines Inc.,Ted Stevens Anchorage International Airport,Anchorage,AK,Seattle-Tacoma International Airport,Seattle,WA,1-1-2015
3,2015,1,1,Thursday,AS,114,N303AS,ANC,SEA,220,...,640,628.0,Alaska Airlines Inc.,Ted Stevens Anchorage International Airport,Anchorage,AK,Seattle-Tacoma International Airport,Seattle,WA,1-1-2015
4,2015,1,1,Thursday,AS,730,N423AS,ANC,SEA,505,...,930,916.0,Alaska Airlines Inc.,Ted Stevens Anchorage International Airport,Anchorage,AK,Seattle-Tacoma International Airport,Seattle,WA,1-1-2015

In [122]:
kolom = airport_drop.pop('DATE')
airport_drop.insert(0, 'DATE', kolom)
airport_drop.head()

,DATE,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE_CODE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,...,AIR_TIME,SCHEDULED_ARRIVAL,ARRIVAL_TIME,AIRLINE,ORIGIN_AIRPORT_NAME,ORIGIN_AIRPORT_CITY,ORIGIN_AIRPORT_STATE,DESTINATION_AIRPORT_NAME,DESTINATION_AIRPORT_CITY,DESTINATION_AIRPORT_STATE
0,1-1-2015,2015,1,1,Thursday,AS,98,N407AS,ANC,SEA,...,169.0,430,408.0,Alaska Airlines Inc.,Ted Stevens Anchorage International Airport,Anchorage,AK,Seattle-Tacoma International Airport,Seattle,WA
1,1-1-2015,2015,1,1,Thursday,AS,108,N309AS,ANC,SEA,...,173.0,509,455.0,Alaska Airlines Inc.,Ted Stevens Anchorage International Airport,Anchorage,AK,Seattle-Tacoma International Airport,Seattle,WA
2,1-1-2015,2015,1,1,Thursday,AS,134,N464AS,ANC,SEA,...,170.0,633,558.0,Alaska Airlines Inc.,Ted Stevens Anchorage International Airport,Anchorage,AK,Seattle-Tacoma International Airport,Seattle,WA
3,1-1-2015,2015,1,1,Thursday,AS,114,N303AS,ANC,SEA,...,176.0,640,628.0,Alaska Airlines Inc.,Ted Stevens Anchorage International Airport,Anchorage,AK,Seattle-Tacoma International Airport,Seattle,WA
4,1-1-2015,2015,1,1,Thursday,AS,730,N423AS,ANC,SEA,...,179.0,930,916.0,Alaska Airlines Inc.,Ted Stevens Anchorage International Airport,Anchorage,AK,Seattle-Tacoma International Airport,Seattle,WA

In [123]:
date_drop = ['YEAR', 'MONTH', 'DAY']
airport_new = airport_drop.drop(columns=date_drop, axis = 1)
airport_new.head()

,DATE,DAY_OF_WEEK,AIRLINE_CODE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,...,AIR_TIME,SCHEDULED_ARRIVAL,ARRIVAL_TIME,AIRLINE,ORIGIN_AIRPORT_NAME,ORIGIN_AIRPORT_CITY,ORIGIN_AIRPORT_STATE,DESTINATION_AIRPORT_NAME,DESTINATION_AIRPORT_CITY,DESTINATION_AIRPORT_STATE
0,1-1-2015,Thursday,AS,98,N407AS,ANC,SEA,5,2354.0,-11.0,...,169.0,430,408.0,Alaska Airlines Inc.,Ted Stevens Anchorage International Airport,Anchorage,AK,Seattle-Tacoma International Airport,Seattle,WA
1,1-1-2015,Thursday,AS,108,N309AS,ANC,SEA,45,41.0,-4.0,...,173.0,509,455.0,Alaska Airlines Inc.,Ted Stevens Anchorage International Airport,Anchorage,AK,Seattle-Tacoma International Airport,Seattle,WA
2,1-1-2015,Thursday,AS,134,N464AS,ANC,SEA,155,140.0,-15.0,...,170.0,633,558.0,Alaska Airlines Inc.,Ted Stevens Anchorage International Airport,Anchorage,AK,Seattle-Tacoma International Airport,Seattle,WA
3,1-1-2015,Thursday,AS,114,N303AS,ANC,SEA,220,209.0,-11.0,...,176.0,640,628.0,Alaska Airlines Inc.,Ted Stevens Anchorage International Airport,Anchorage,AK,Seattle-Tacoma International Airport,Seattle,WA
4,1-1-2015,Thursday,AS,730,N423AS,ANC,SEA,505,457.0,-8.0,...,179.0,930,916.0,Alaska Airlines Inc.,Ted Stevens Anchorage International Airport,Anchorage,AK,Seattle-Tacoma International Airport,Seattle,WA

In [124]:
airport_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5729195 entries, 0 to 5729194
Data columns (total 22 columns):
 #   Column                     Dtype
---  ------                     -----
 0   DATE                       object
 1   DAY_OF_WEEK                object
 2   AIRLINE_CODE               object
 3   FLIGHT_NUMBER              int64
 4   TAIL_NUMBER                object
 5   ORIGIN_AIRPORT             object
 6   DESTINATION_AIRPORT        object
 7   SCHEDULED_DEPARTURE        int64
 8   DEPARTURE_TIME             float64
 9   DEPARTURE_DELAY            float64
 10  SCHEDULED_TIME             float64
 11  ELAPSED_TIME               float64
 12  AIR_TIME                   float64
 13  SCHEDULED_ARRIVAL          int64
 14  ARRIVAL_TIME               float64
 15  AIRLINE                    object
 16  ORIGIN_AIRPORT_NAME        object
 17  ORIGIN_AIRPORT_CITY        object
 18  ORIGIN_AIRPORT_STATE       object
 19  DESTINATION_AIRPORT_NAME   object
 20  DESTINATION_AIRPORT_CITY   object
 21  DESTINATION_AIRPORT_STATE  object
dtypes: float64(6), int64(3), object(13)
memory usage: 1005.3+ MB

In [126]:
nan_count = airport_new.isna().sum()
nan_count

DATE                             0
DAY_OF_WEEK                      0
AIRLINE_CODE                     0
FLIGHT_NUMBER                    0
TAIL_NUMBER                      0
ORIGIN_AIRPORT                   0
DESTINATION_AIRPORT              0
SCHEDULED_DEPARTURE              0
DEPARTURE_TIME                   0
DEPARTURE_DELAY                  0
SCHEDULED_TIME                   1
ELAPSED_TIME                 15187
AIR_TIME                     15187
SCHEDULED_ARRIVAL                0
ARRIVAL_TIME                  2629
AIRLINE                          0
ORIGIN_AIRPORT_NAME              0
ORIGIN_AIRPORT_CITY              0
ORIGIN_AIRPORT_STATE             0
DESTINATION_AIRPORT_NAME         0
DESTINATION_AIRPORT_CITY         0
DESTINATION_AIRPORT_STATE        0
dtype: int64

In [130]:
#airport_new = airport_new.fillna(0)

airport_new['DEPARTURE_TIME'] = airport_new['DEPARTURE_TIME'].astype(int)
airport_new['DEPARTURE_DELAY'] = airport_new['DEPARTURE_DELAY'].astype(int)
airport_new['SCHEDULED_TIME'] = airport_new['SCHEDULED_TIME'].astype(int)
airport_new['ELAPSED_TIME'] = airport_new['ELAPSED_TIME'].astype(int)
airport_new['AIR_TIME'] = airport_new['AIR_TIME'].astype(int)
airport_new['ARRIVAL_TIME'] = airport_new['ARRIVAL_TIME'].astype(int)

In [132]:
airport_new['TAIL_NUMBER'] = airport_new['TAIL_NUMBER'].astype(str)
airport_new['ORIGIN_AIRPORT'] = airport_new['ORIGIN_AIRPORT'].astype(str)
airport_new['DESTINATION_AIRPORT'] = airport_new['DESTINATION_AIRPORT'].astype(str)
airport_new['AIRLINE'] = airport_new['AIRLINE'].astype(str)
airport_new['ORIGIN_AIRPORT_NAME'] = airport_new['ORIGIN_AIRPORT_NAME'].astype(str)
airport_new['ORIGIN_AIRPORT_CITY'] = airport_new['ORIGIN_AIRPORT_CITY'].astype(str)
airport_new['ORIGIN_AIRPORT_STATE'] = airport_new['ORIGIN_AIRPORT_STATE'].astype(str)
airport_new['DESTINATION_AIRPORT_NAME'] = airport_new['DESTINATION_AIRPORT_NAME'].astype(str)
airport_new['DESTINATION_AIRPORT_CITY'] = airport_new['DESTINATION_AIRPORT_CITY'].astype(str)
airport_new['DESTINATION_AIRPORT_STATE'] = airport_new['DESTINATION_AIRPORT_STATE'].astype(str)

In [134]:
airport_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5729195 entries, 0 to 5729194
Data columns (total 22 columns):
 #   Column                     Dtype
---  ------                     -----
 0   DATE                       object
 1   DAY_OF_WEEK                object
 2   AIRLINE_CODE               object
 3   FLIGHT_NUMBER              int64
 4   TAIL_NUMBER                object
 5   ORIGIN_AIRPORT             object
 6   DESTINATION_AIRPORT        object
 7   SCHEDULED_DEPARTURE        int64
 8   DEPARTURE_TIME             int32
 9   DEPARTURE_DELAY            int32
 10  SCHEDULED_TIME             int32
 11  ELAPSED_TIME               int32
 12  AIR_TIME                   int32
 13  SCHEDULED_ARRIVAL          int64
 14  ARRIVAL_TIME               int32
 15  AIRLINE                    object
 16  ORIGIN_AIRPORT_NAME        object
 17  ORIGIN_AIRPORT_CITY        object
 18  ORIGIN_AIRPORT_STATE       object
 19  DESTINATION_AIRPORT_NAME   object
 20  DESTINATION_AIRPORT_CITY   object
 21  DESTINATION_AIRPORT_STATE  object
dtypes: int32(6), int64(3), object(13)
memory usage: 874.2+ MB

In [135]:
airport_new['AIRLINE'].dtype

dtype('O')

In [137]:
from sklearn.preprocessing import LabelEncoder 
le = LabelEncoder() 
for kolom in airport_new.columns:     
    if airport_new[kolom].dtype == 'object':         
        airport_new[kolom] = le.fit_transform(airport_new[kolom])

In [139]:
from sklearn.preprocessing import LabelEncoder

df = airport_new.copy()
le = LabelEncoder()
df['DATE'] = le.fit_transform(df['DATE'])
df['DAY_OF_WEEK'] = le.fit_transform(df['DAY_OF_WEEK'])
df['AIRLINE_CODE'] = le.fit_transform(df['AIRLINE_CODE'])
df['FLIGHT_NUMBER'] = le.fit_transform(df['FLIGHT_NUMBER'])
df['TAIL_NUMBER'] = le.fit_transform(df['TAIL_NUMBER'])
df['ORIGIN_AIRPORT'] = le.fit_transform(df['ORIGIN_AIRPORT'])
df['DESTINATION_AIRPORT'] = le.fit_transform(df['DESTINATION_AIRPORT'])
df['SCHEDULED_DEPARTURE'] = le.fit_transform(df['SCHEDULED_DEPARTURE'])
df['DEPARTURE_TIME'] = le.fit_transform(df['DEPARTURE_TIME'])
df['DEPARTURE_DELAY'] = le.fit_transform(df['DEPARTURE_DELAY'])
df['SCHEDULED_TIME'] = le.fit_transform(df['SCHEDULED_TIME'])
df['ELAPSED_TIME'] = le.fit_transform(df['ELAPSED_TIME'])
df['AIR_TIME'] = le.fit_transform(df['AIR_TIME'])
df['SCHEDULED_ARRIVAL'] = le.fit_transform(df['SCHEDULED_ARRIVAL'])
df['ARRIVAL_TIME'] = le.fit_transform(df['ARRIVAL_TIME'])
df['AIRLINE'] = le.fit_transform(df['AIRLINE'])
df['ORIGIN_AIRPORT_NAME'] = le.fit_transform(df['ORIGIN_AIRPORT_NAME'])
df['ORIGIN_AIRPORT_CITY'] = le.fit_transform(df['ORIGIN_AIRPORT_CITY'])
df['ORIGIN_AIRPORT_STATE'] = le.fit_transform(df['ORIGIN_AIRPORT_STATE'])
df['DESTINATION_AIRPORT_NAME'] = le.fit_transform(df['DESTINATION_AIRPORT_NAME'])
df['DESTINATION_AIRPORT_CITY'] = le.fit_transform(df['DESTINATION_AIRPORT_CITY'])
df['DESTINATION_AIRPORT_STATE'] = le.fit_transform(df['DESTINATION_AIRPORT_STATE'])

In [143]:
from sklearn.model_selection import train_test_split

y = df['DEPARTURE_DELAY']
X = df[['ORIGIN_AIRPORT', 'AIRLINE']]

X_train, X_test, y_train, y_test = train_test_split(
                                                X, y, test_size=0.33, random_state=42)

In [144]:
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(max_depth=2, random_state=0)
clf.fit(X_train, y_train)

RandomForestClassifier(max_depth=2, random_state=0)

In [145]:
from sklearn.metrics import accuracy_score
# predict the scores based on the test data
y_pred = clf.predict(X_test)

#compute the accuracy score by comparing the y_test results with the predicted results.
accuracy = accuracy_score(y_test, y_pred)
accuracy

0.08311493228465569